[buildout]
parts =
    zope2
    lxml
    instance
    zopepy
    varnish-build
    varnish


extends =
    plone33rc3.cfg
    collective.xdv.cfg
    versions.cfg

versions = versions

find-links =
    http://dist.plone.org/release/3.3rc3
    http://dist.plone.org/thirdparty

eggs =
    elementtree

develop =


[zope2]
recipe = plone.recipe.zope2install
url = ${versions:zope2-url}

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml==2.2


[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8080

eggs =
    ${buildout:eggs}
    Plone
    Products.takeaction
    collective.xdv

zcml =

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[varnish-build]
recipe = zc.recipe.cmmi
url = http://downloads.sourceforge.net/varnish/varnish-2.0.4.tar.gz

[varnish]
recipe = plone.recipe.varnish
daemon = ${buildout:parts-directory}/varnish-build/sbin/varnishd
bind = 127.0.0.1:8090
backends = 127.0.0.1:8080
cache-size = 250M
mode = foreground

