/* Edit form css */

.invoicelinecolumn-amount{
    text-align:right;
}

.ArchetypesDataGridWidget input {
    width: 98%;
}

.datagridcolumn-item {
    width: 2em;
}

.datagridcolumn-description{
    width: 50em;
}

.datagridcolumn-amount{
    width: 2em;
}

/* Invoice View css */


#invoice-title {
    margin-top: 2em;
}

#invoice-description {
    margin-bottom: 1em;
}


#invoice-invoicelines {
    width: 98%;
    margin: 1em 0;
}

#invoice-paymentdetails {
    margin-top: 2em;
}

.invoicelinecolumn-amount {
    width: 8em;
}





@media print{

.hoursReport {page-break-before:always;}

    body, h1, h2, h4, h4, h5, h6, p, div, table{
         font-family : 'Futura Std Book', Baskerville;
         font-size: 11pt;
         line-height: 1.3em;
         letter-spacing: 0.6pt;
         }

    h1{
    font-size: 10.5pt;
    }


    #invoice-invoicelines{width : 15cm}

    #region-content{
        margin-left : 1.30in !important;
        margin-right : 1.05in !important;
        margin-top : 1.80in !important;
        margin-bottom : 1.05in !important;
         padding-left : 0 !important;
        padding-right : 0 !important;
        padding-top : 0 !important;
        padding-bottom : 0 !important;
     }

    #invoice-invoicelines, #invoice-invoicelines th, #invoice-invoicelines td{
        border-color:grey
    }
    html,
    body,
    #visual-portal-wrapper.
    #portal-columns.
    #portal-column-content{
        margin-left : 0 !important;
        margin-right : 0 !important;
        margin-top : 0 !important;
        margin-bottom : 0 !important;
        padding-left : 0 !important;
        padding-right : 0 !important;
        padding-top : 0 !important;
        padding-bottom : 0 !important;
   }
}
